src/main/mule/customer-payplan-mcp-client.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd">

    <!-- MCP Client Configuration connecting to the customer-payplan-mcp-server -->
    <mcp:client-config name="MCP_Client_Config" doc:name="MCP Client Config" clientName="customer-payplan-mcp-client" clientVersion="1.0.0">
        <mcp:streamable-http-client-connection serverUrl="${mcp.server.url}" />
    </mcp:client-config>

    <!-- HTTP Listener for client test endpoints -->
    <http:listener-config name="MCP_Client_HTTP_Listener_Config" doc:name="MCP Client HTTP Listener Config">
        <http:listener-connection host="0.0.0.0" port="${mcp.client.http.port}" />
    </http:listener-config>

    <!-- Client Flow: List all available tools -->
    <flow name="client-list-tools-flow" doc:id="client-list-tools-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/tools" doc:name="GET /client/tools" allowedMethods="GET" />
        <mcp:list-tools config-ref="MCP_Client_Config" doc:name="List Tools" />
        <ee:transform doc:name="Transform to JSON">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow: Ping MCP Server -->
    <flow name="client-ping-flow" doc:id="client-ping-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/ping" doc:name="GET /client/ping" allowedMethods="GET" />
        <mcp:ping config-ref="MCP_Client_Config" doc:name="Ping MCP Server" />
        <ee:transform doc:name="Ping Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "ok", message: "MCP server is reachable" }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow 1: Call get-payplan tool -->
    <flow name="client-get-payplan-flow" doc:id="client-get-payplan-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/account/{accountId}/payplan" doc:name="GET /client/account/{accountId}/payplan" allowedMethods="GET" />
        <ee:transform doc:name="Build Tool Arguments">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountId: attributes.uriParams.accountId,
  sourceSystem: attributes.headers."source-system" default "MCP-Client",
  targetSystem: attributes.headers."target-system" default "Salesforce",
  correlationId: attributes.headers."x-correlation-id" default uuid(),
  authToken: attributes.headers."authtoken" default "",
  authorization: attributes.headers."authorization" default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <mcp:call-tool config-ref="MCP_Client_Config" toolName="get-payplan" doc:name="Call get-payplan">
            <mcp:arguments>#[payload]</mcp:arguments>
        </mcp:call-tool>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow 2: Call create-payplan tool -->
    <flow name="client-create-payplan-flow" doc:id="client-create-payplan-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/account/{accountId}/payplan" doc:name="POST /client/account/{accountId}/payplan" allowedMethods="POST" />
        <ee:transform doc:name="Build Tool Arguments">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountId: attributes.uriParams.accountId,
  sourceSystem: attributes.headers."source-system" default "MCP-Client",
  targetSystem: attributes.headers."target-system" default "Salesforce",
  correlationId: attributes.headers."x-correlation-id" default uuid(),
  authToken: attributes.headers."authtoken" default "",
  authorization: attributes.headers."authorization" default "",
  payplan: payload.payplan
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <mcp:call-tool config-ref="MCP_Client_Config" toolName="create-payplan" doc:name="Call create-payplan">
            <mcp:arguments>#[payload]</mcp:arguments>
        </mcp:call-tool>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow 3: Call get-agency-payplan tool -->
    <flow name="client-get-agency-payplan-flow" doc:id="client-get-agency-payplan-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/account/{accountId}/agencypayplan" doc:name="GET /client/account/{accountId}/agencypayplan" allowedMethods="GET" />
        <ee:transform doc:name="Build Tool Arguments">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountId: attributes.uriParams.accountId,
  sourceSystem: attributes.headers."source-system" default "MCP-Client",
  targetSystem: attributes.headers."target-system" default "Salesforce",
  correlationId: attributes.headers."x-correlation-id" default uuid(),
  authToken: attributes.headers."authtoken" default "",
  authorization: attributes.headers."authorization" default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <mcp:call-tool config-ref="MCP_Client_Config" toolName="get-agency-payplan" doc:name="Call get-agency-payplan">
            <mcp:arguments>#[payload]</mcp:arguments>
        </mcp:call-tool>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow 4: Call get-recommend-budget tool -->
    <flow name="client-get-recommend-budget-flow" doc:id="client-get-recommend-budget-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/account/{accountId}/recommendbudget" doc:name="GET /client/account/{accountId}/recommendbudget" allowedMethods="GET" />
        <ee:transform doc:name="Build Tool Arguments">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountId: attributes.uriParams.accountId,
  sourceSystem: attributes.headers."source-system" default "MCP-Client",
  targetSystem: attributes.headers."target-system" default "Salesforce",
  correlationId: attributes.headers."x-correlation-id" default uuid(),
  authToken: attributes.headers."authtoken" default "",
  authorization: attributes.headers."authorization" default "",
  newBudgetDate: attributes.queryParams."new-budget-date" default "",
  defaultFlag: attributes.queryParams."default-flag" default "RCBUD",
  recommendBudgetSwitch: (attributes.queryParams."recommend-budget-switch" default "true") as Boolean,
  budgetPlan: attributes.queryParams."budget-plan" default "BPP"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <mcp:call-tool config-ref="MCP_Client_Config" toolName="get-recommend-budget" doc:name="Call get-recommend-budget">
            <mcp:arguments>#[payload]</mcp:arguments>
        </mcp:call-tool>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow 5: Call add-budget tool -->
    <flow name="client-add-budget-flow" doc:id="client-add-budget-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/account/{accountId}/addbudget" doc:name="PUT /client/account/{accountId}/addbudget" allowedMethods="PUT" />
        <ee:transform doc:name="Build Tool Arguments">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountId: attributes.uriParams.accountId,
  sourceSystem: attributes.headers."source-system" default "MCP-Client",
  targetSystem: attributes.headers."target-system" default "Salesforce",
  correlationId: attributes.headers."x-correlation-id" default uuid(),
  authToken: attributes.headers."authtoken" default "",
  authorization: attributes.headers."authorization" default "",
  addbudget: payload.addbudget
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <mcp:call-tool config-ref="MCP_Client_Config" toolName="add-budget" doc:name="Call add-budget">
            <mcp:arguments>#[payload]</mcp:arguments>
        </mcp:call-tool>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow 6: Call cancel-budget tool -->
    <flow name="client-cancel-budget-flow" doc:id="client-cancel-budget-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/account/{accountId}/cancelbudget" doc:name="PUT /client/account/{accountId}/cancelbudget" allowedMethods="PUT" />
        <ee:transform doc:name="Build Tool Arguments">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountId: attributes.uriParams.accountId,
  sourceSystem: attributes.headers."source-system" default "MCP-Client",
  targetSystem: attributes.headers."target-system" default "Salesforce",
  correlationId: attributes.headers."x-correlation-id" default uuid(),
  authToken: attributes.headers."authtoken" default "",
  authorization: attributes.headers."authorization" default "",
  cancelbudget: payload.cancelbudget
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <mcp:call-tool config-ref="MCP_Client_Config" toolName="cancel-budget" doc:name="Call cancel-budget">
            <mcp:arguments>#[payload]</mcp:arguments>
        </mcp:call-tool>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow 7: Call get-active-payplan tool -->
    <flow name="client-get-active-payplan-flow" doc:id="client-get-active-payplan-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/account/{accountId}/activepayplan" doc:name="GET /client/account/{accountId}/activepayplan" allowedMethods="GET" />
        <ee:transform doc:name="Build Tool Arguments">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountId: attributes.uriParams.accountId,
  sourceSystem: attributes.headers."source-system" default "MCP-Client",
  targetSystem: attributes.headers."target-system" default "Salesforce",
  correlationId: attributes.headers."x-correlation-id" default uuid(),
  authToken: attributes.headers."authtoken" default "",
  authorization: attributes.headers."authorization" default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <mcp:call-tool config-ref="MCP_Client_Config" toolName="get-active-payplan" doc:name="Call get-active-payplan">
            <mcp:arguments>#[payload]</mcp:arguments>
        </mcp:call-tool>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow 8: Call update-payplan tool -->
    <flow name="client-update-payplan-flow" doc:id="client-update-payplan-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/payplan/{payplanId}" doc:name="PUT /client/payplan/{payplanId}" allowedMethods="PUT" />
        <ee:transform doc:name="Build Tool Arguments">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  payplanId: attributes.uriParams.payplanId,
  sourceSystem: attributes.headers."source-system" default "MCP-Client",
  targetSystem: attributes.headers."target-system" default "Salesforce",
  correlationId: attributes.headers."x-correlation-id" default uuid(),
  authToken: attributes.headers."authtoken" default "",
  authorization: attributes.headers."authorization" default "",
  iscancel: payload.iscancel default "",
  payplancancelreasondescription: payload.payplancancelreasondescription default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <mcp:call-tool config-ref="MCP_Client_Config" toolName="update-payplan" doc:name="Call update-payplan">
            <mcp:arguments>#[payload]</mcp:arguments>
        </mcp:call-tool>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Client Flow 9: Call get-payplan-override tool -->
    <flow name="client-get-payplan-override-flow" doc:id="client-get-payplan-override-flow">
        <http:listener config-ref="MCP_Client_HTTP_Listener_Config" path="/client/account/{accountId}/payplanoverride" doc:name="GET /client/account/{accountId}/payplanoverride" allowedMethods="GET" />
        <ee:transform doc:name="Build Tool Arguments">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountId: attributes.uriParams.accountId,
  sourceSystem: attributes.headers."source-system" default "MCP-Client",
  targetSystem: attributes.headers."target-system" default "Salesforce",
  correlationId: attributes.headers."x-correlation-id" default uuid(),
  authToken: attributes.headers."authtoken" default "",
  authorization: attributes.headers."authorization" default "",
  (goodFaithPaymentDate: attributes.queryParams."goodFaithPaymentDate") if attributes.queryParams."goodFaithPaymentDate"?,
  (goodFaithPaymentAmount: attributes.queryParams."goodFaithPaymentAmount") if attributes.queryParams."goodFaithPaymentAmount"?,
  (numInstallments: attributes.queryParams."numInstallments") if attributes.queryParams."numInstallments"?,
  (overrideType: attributes.queryParams."overrideType") if attributes.queryParams."overrideType"?
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <mcp:call-tool config-ref="MCP_Client_Config" toolName="get-payplan-override" doc:name="Call get-payplan-override">
            <mcp:arguments>#[payload]</mcp:arguments>
        </mcp:call-tool>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
